:root {
    --primary: #1E90FF;
    --primary-dark: #0b65c2;
    --secondary: #2ecc71;
    --dark: #2c3e50;
    --light: #ecf0f1;
    --danger: #e74c3c;
    --gray: #95a5a6;
}

body{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.category-menu {
    gap: 10px;
    flex-wrap: wrap;
}

.category-link {
    padding: 8px 20px;
    border-radius: 999px; /* forma de píldora */
    background-color: #111; /* fondo negro */
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.category-link:hover {
    background-color: #333;
    color: #fff;
}

.category-link.active {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}